@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BobRentAllExtranet.Models.Tool

<div class="row">
    <div class="col-md-4">
        <h2>New Tool</h2>
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>