<?xml version="1.0"?>
<configuration>
	<appSettings>
    		<add key="SitePhysicalPath" value="C:\Program Files (x86)\Acumatica ERP\BobRentAll" />
    		<add key="GenResultPath" value="C:\dev\acumatica-bobrentalldemo\Tests\" />
    		<add key="UserName" value="admin" />
    		<add key="FileNameFilter" value="*VX301000*" />
  	</appSettings>
</configuration>